@font-face {
  font-family: 'KakaoSmallSans-Regular';
  src: url('/fonts/KakaoSmallSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'KakaoSmallSans-Regular', sans-serif;
}