<table>
    <thead>
        <tr>
            <th>사번</th>
            <th>이름</th>
            <th>이메일</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="emp : ${employees}">
            <td th:text="${emp.empno}"></td>
            <td th:text="${emp.name}"></td>
            <td th:text="${emp.email}"></td>
            <td><a th:href="@{${proxyPath + '/page/users/form?id=' + ${emp.empSeq}}}">수정</a></td>
            <td>
                <form
                    th:action="@{${proxyPath + '/page/users/delete/' + ${emp.empSeq}}}"
                    method="post"
                    style="margin: 0"
                >
                    <button type="submit" class="btn-delete">삭제</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
